[submodule "theme/bengal"]
	path = theme/bengal
	url = https://github.com/maccmaxitrc/theme_bengal.git
	branch = main
[submodule "filter/newwindowicon"]
	path = filter/newwindowicon
	url = https://github.com/maccmaxitrc/moodle-filter_newwindowicon.git
	branch = main
[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/mspall/moodle-local_adminer.git
	branch = MOODLE_39_STABLE
