[submodule "theme/bengal"]
	path = theme/bengal
	url = https://github.com/maccmaxitrc/theme_bengal.git
	branch = main
[submodule "filter/newwindowicon"]
	path = filter/newwindowicon
	url = https://github.com/maccmaxitrc/moodle-filter_newwindowicon.git
	branch = main
[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/mspall/moodle-local_adminer.git
	branch = MOODLE_39_STABLE
[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = https://github.com/mspall/moodle-block_completion_progress.git
	branch = master
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/mspall/moodle-mod_attendance.git
	branch = MOODLE_400_STABLE
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = https://github.com/mspall/moodle-block_attendance.git
	branch = main
[submodule "filter/wiris"]
	path = filter/wiris
	url = https://github.com/mspall/moodle-filter_wiris.git
	branch = stable-wiris
[submodule "lib/editor/atto/plugins/wiris"]
	path = lib/editor/atto/plugins/wiris
	url = https://github.com/mspall/moodle-atto_wiris.git
	branch = stable-wiris
[submodule "question/type/multichoiceset"]
	path = question/type/multichoiceset
	url = https://github.com/mspall/moodle-qtype_multichoiceset.git
	branch = MOODLE_39_STABLE
[submodule "admin/tool/deletecourses"]
	path = admin/tool/deletecourses
	url = https://github.com/mspall/moodle-tool_deletecourses.git
	branch = main
[submodule "report/benchmark"]
	path = report/benchmark
	url = https://github.com/mspall/moodle-report_benchmark.git
	branch = master
[submodule "lib/editor/atto/plugins/chemistry"]
	path = lib/editor/atto/plugins/chemistry
	url = https://github.com/mspall/moodle-editor_atto-chemistry.git
	branch = master
[submodule "lib/editor/atto/plugins/morefontcolors"]
	path = lib/editor/atto/plugins/morefontcolors
	url = https://github.com/mspall/moodle-atto_morefontcolors.git
	branch = master
[submodule "filter/bookchapters"]
	path = filter/bookchapters
	url = https://github.com/mspall/moodle-filter_bookchapters.git
	branch = master
[submodule "report/editdates"]
	path = report/editdates
	url = https://github.com/mspall/moodle-report_editdates.git
	branch = main-issue36
